.balance {
    font-family: 'Bangers';
    font-style: normal;
    font-weight: 400;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;

    .image_container {
        position: relative;
        width: 30px;
        height: 30px;

        .image {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .sign {
            position: absolute;
            bottom: 4px;
            right: 4px;
        }
    }

    &.color {
        &__default {
            color: #FFFFFF;
        }

        &__purple {
            color: #FE468B;
        }
    }

    &.size {
        &__default {
            font-size: 18px;

            .image_container {
                width: 25px;
                height: 25px;
            }
        }

        &__large {
            font-size: 24px;

            .image_container {
                width: 37px;
                height: 37px;
            }
        }
    }
}