.balance {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  width: max-content;

  &.vertical {
    flex-flow: column nowrap;
  }

  .image_container {
    position: relative;

    .image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .sign {
      position: absolute;
      bottom: 4px;
      right: 4px;
    }
  }

  &.color {
    &__default {
      color: #ffffff;
    }

    &__purple {
      color: #fe468b;
    }
  }

  &.size {
    &__default {
      font-size: 18px;

      .image_container {
        width: 28px;
        height: 28px;
      }
    }

    &__small {
      font-size: 20px;
      .image_container {
        width: 23px;
        height: 23px;
      }
    }

    &__large {
      font-size: 24px;

      .image_container {
        width: 35px;
        height: 35px;
      }
    }
  }
}
