.title {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 57px;

  text-align: center;
  background: linear-gradient(180deg, #EA748F 0%, #FF418A 53.65%, #F237A5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
}