.footer {
  background: #2B0A37;
  border-top: 1px solid rgb(234, 116, 143, 0.2);
  // border-image: linear-gradient(to left top, #EA748F 0%, #FF418A 53.65%, #F237A5 100%);
  // border-image-slice: 1;
  padding-top: 28px;


  @media (max-width: 1048px) {
    padding: 24px 0;
  }

  @media (max-width: 768px) {
    padding: 0px 0px 20px 0px;
  }


}

.container {
  display: flex;
  justify-content: space-between;
  padding-left: 172px;
  padding-right: 172px;
  padding-bottom: 60px;

  @media (max-width: 1245px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 1024px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    padding-bottom: 0;
  }

}

.left {
  @media (max-width: 768px) {
    margin-top: -24px;
  }
}


.info_item {
  span {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #5E5460;
    margin-top: 24px;
  }

  p,
  a {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }

  p {
    margin-top: 8px;
  }

  @media (max-width: 768px) {
    max-width: 300px;
    width: 100%;
    margin: 24px auto;
  }

}

.right {
  .info_item {
    @media (max-width: 1245px) {
      text-align: right;
    }

    @media (max-width: 768px) {
      text-align: center;
    }
  }
}

.trademark,
.trademark_mobile {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: linear-gradient(180deg, #EA748F 0%, #FF418A 53.65%, #F237A5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-top: 24px;

  @media (max-width: 768px) {
    display: none;
  }

}

.trademark_mobile {
  display: none;
  border-top: 1px solid rgb(234, 116, 143, 0.2);

  span {
    display: block;
    max-width: 316px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 14px;
  }

  @media (max-width: 768px) {
    display: block;
  }

  @media (max-width: 375px) {
    margin: auto;
  }
}

.socials {
  justify-content: flex-start;
  margin-top: 12px;
  margin-bottom: 24px;

  li {
    margin-right: 13px;
  }

  li:first-child {
    margin-left: 0;
  }

  @media (max-width: 1245px) {
    justify-content: flex-end;
  }

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.mail {
  margin-top: 14px;
}