.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 104px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);

  @media (max-width: 768px) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
  }


}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: 1400px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}