.layout {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    padding-bottom: 0px;
    background: url('/game_screen_bg.png') center no-repeat fixed;
    background-size: 100%;
    min-height: 100vh;

    .login_button {
        margin: auto;
    }
}