.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('/game_screen_bg.png') no-repeat center / cover fixed;
    min-height: 100vh;

    .login {
        margin: auto;
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}