.container {
  border-radius: 12px;
  border: 6px #A5EFFF66 solid;
  backdrop-filter: blur(40px);
  background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(165, 239, 255, 0.15) 0%, rgba(110, 191, 244, 0.0335938) 77.08%, rgba(70, 144, 213, 0) 100%);
}
