.image {
  &:hover {
    box-shadow: 0px 0px 8px 0px rgb(149 224 245 / 84%);
  }
}

.side {
  cursor: pointer;
  display: flex;
  margin: 0 auto;
}

.rotate {
  transform: rotate(180deg);
}

.hide {
  visibility: hidden;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: Bangers;
  color: #ffffff;
}

.slides {
  flex: 1;
  padding: 39px 62px 0;
}

.slide {
  display: flex;
  flex-flow: row nowrap;
}

.image {
  width: 220px;
  height: 330px;
  margin-right: 9%;
}

.info {
  flex: 1;
}

.title {
  margin-bottom: 17px;
  font-size: 32px;
  line-height: 34px;
}

.item {
  width: 100%;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 19x;
}

.templateItem {
  font-size: 27px;
  line-height: 29px;
}

.traitValue {
  padding: 0 2px;
  color: #479ec5;
}

.additionValue {
  color: rgb(230, 230, 7);
}

.additionTrait {
  color: #d5436f;
}
