.textHeader {
  margin: 80px 0; 
}

.cardsTop {
  display: flex;
  justify-content: center;
  position: relative;
}

.card {
  width: 212px;
  height: 314px;
}

.firstCard { 
  transform: translateX(66px);
  z-index: 5;
}

.secondCard {
  z-index: 3;
}

.thirdCard {
  transform: translateX(-66px);
  z-index: 0;
}

.cardsBottom {
  margin-top: 120px;
  display:flex; 
  justify-content: space-between;
}

.cardWrapper {
  position: relative;
  width: max-content;
}

.cardName { 
  margin-top: 26px;
  font-family: 'AA BadaBoom BB';
  font-size: 32px;
  line-height: 34px;
  text-align: center;
}

.arrowFirst {
  transform: rotate(130deg);
}

.arrowSecond {
  transform: rotate(90deg);
}

.arrowThird {
  transform: rotate(50deg);
}