.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Kamikaze-Regular';
  text-align: center;
  font-weight: 400;
  font-size: 77px;
  line-height: 64px;
  color: #EF5DA8;
  margin-bottom: 26px;
  text-shadow: -0 -2px 0 #FFFFFF,
    0 -2px 0 #FFFFFF,
    -0 2px 0 #FFFFFF,
    0 2px 0 #FFFFFF,
    -2px -0 0 #FFFFFF,
    2px -0 0 #FFFFFF,
    -2px 0 0 #FFFFFF,
    2px 0 0 #FFFFFF,
    -1px -2px 0 #FFFFFF,
    1px -2px 0 #FFFFFF,
    -1px 2px 0 #FFFFFF,
    1px 2px 0 #FFFFFF,
    -2px -1px 0 #FFFFFF,
    2px -1px 0 #FFFFFF,
    -2px 1px 0 #FFFFFF,
    2px 1px 0 #FFFFFF,
    -2px -2px 0 #FFFFFF,
    2px -2px 0 #FFFFFF,
    -2px 2px 0 #FFFFFF,
    2px 2px 0 #FFFFFF,
    -2px -2px 0 #FFFFFF,
    2px -2px 0 #FFFFFF,
    -2px 2px 0 #FFFFFF,
    2px 2px 0 #FFFFFF;

  @media (max-width: 425px) {
    font-size: 26px;
    line-height: 31px;
  }
}

.subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  max-width: 65%;

  @media (max-width: 425px) {
    font-size: 14px;
    line-height: 17px;
  }
}