.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Kamikaze';
  text-align: center;
  font-weight: 400;
  font-size: 54px;
  line-height: 64px;
  color: #EF5DA8;
  margin-bottom: 26px;
  background: linear-gradient(180deg, #EA748F 0%, #FF418A 53.65%, #F237A5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  // text-shadow: -0 -2px 0 #FFFFFF,
  //   0 -2px 0 #FFFFFF,
  //   -0 2px 0 #FFFFFF,
  //   0 2px 0 #FFFFFF,
  //   -2px -0 0 #FFFFFF,
  //   2px -0 0 #FFFFFF,
  //   -2px 0 0 #FFFFFF,
  //   2px 0 0 #FFFFFF,
  //   -1px -2px 0 #FFFFFF,
  //   1px -2px 0 #FFFFFF,
  //   -1px 2px 0 #FFFFFF,
  //   1px 2px 0 #FFFFFF,
  //   -2px -1px 0 #FFFFFF,
  //   2px -1px 0 #FFFFFF,
  //   -2px 1px 0 #FFFFFF,
  //   2px 1px 0 #FFFFFF,
  //   -2px -2px 0 #FFFFFF,
  //   2px -2px 0 #FFFFFF,
  //   -2px 2px 0 #FFFFFF,
  //   2px 2px 0 #FFFFFF,
  //   -2px -2px 0 #FFFFFF,
  //   2px -2px 0 #FFFFFF,
  //   -2px 2px 0 #FFFFFF,
  //   2px 2px 0 #FFFFFF;

  @media (max-width: 425px) {
    font-size: 24px;
    line-height: 31px;
  }
}

.subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  max-width: 65%;

  @media (max-width: 425px) {
    font-size: 14px;
    line-height: 17px;
  }
}