.center{
    margin: 200px auto;
     font-family: 'Bangers';
     font-size: 32px;
 background: linear-gradient(180deg, #D5436F 0%, #BB35FF 53.65%, #98F9FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    color: #FFFFFF;
}