.sections {
  padding-bottom: 100px;
  background: url('/images/clouds_background.png') center no-repeat #12162C;
  background-size: cover;
}

.main {
  position: relative;
}

.wave {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 155px;
  background: url('/wave.svg') center no-repeat;
  background-size: cover;
}