.section {
  background: linear-gradient(
    375deg,
    rgba(73, 47, 94, 1) 71%,
    rgba(139, 119, 142, 1) 84%,
    rgba(184, 142, 174, 1) 89%,
    rgba(231, 191, 206, 1) 100%
  );
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  max-width: 100vw;
  z-index: -1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
  }
}

.characters_img {
  position: absolute;
  z-index: 10;
  object-fit: contain;
  object-position: center bottom;
  height: 100%;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%, 50%) scale(0.6);
  opacity: 0;
  max-width: 160%;
  z-index: 10;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;

  @media (max-width: 425px) {
    bottom: 10px;
  }

  @media (min-width: 1450px) {
    max-width: 80%;
  }

  &.loaded {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}

.content {
  font-family: 'Kamikaze';
  position: relative;
  z-index: 15;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 172px;

  @media (max-width: 1440px) {
    padding-bottom: 140px;
  }

  @media (max-width: 576px) {
    height: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-top: 33%;
    padding-bottom: 22%;
  }

  .title {
    font-size: 80px;
    line-height: 66px;
    font-weight: 600;
    background: linear-gradient(
      180deg,
      #ea748f 0%,
      #ff418a 53.65%,
      #f237a5 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    color: #ff418a;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;

    @media (min-width: 1450px) {
      font-size: 92px;
    }

    @media (max-width: 768px) {
      font-size: 40px;
      line-height: 33px;
      -webkit-text-stroke-width: 2px;
      margin-bottom: 5px;
    }

    @media (max-width: 320px) {
      font-size: 33px;
    }
  }

  .cta {
    max-width: 326px;
    width: 100%;
    height: 60px;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      max-width: 226px;
      height: 48px;
    }
  }

  .subtitle {
    font-size: 40px;
    line-height: 33px;
    font-weight: 600;
    -webkit-text-fill-color: #2e92bf;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px;

    background: linear-gradient(
      180deg,
      #6ccaf3 0%,
      #2e92bf 50.52%,
      #00415e 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 20px;
      -webkit-text-stroke-width: 1px;
    }

    @media (max-width: 320px) {
      font-size: 20px;
    }
  }
}

.button {
  font-family: 'Kamikaze';
  border-radius: 30px;
  cursor: pointer;
  font-weight: 400;
  font-size: 42px;
  text-align: center;
  color: #ffffff;
  padding: 12px 54px;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #6ccaf3 0%, #2e92bf 50.52%, #00415e 100%);
  border: 4px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px #50b0dc;
  border-radius: 30px;

  @media (max-width: 768px) {
    font-size: 28px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.text_wrap {
  @media (max-width: 576px) {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(58, 29, 65, 0.43) 30.73%,
      rgba(196, 196, 196, 0) 100%
    );
  }
}
