.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url('/images/nfts_bg.svg') center no-repeat;
  background-size: cover;
}

.section {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
  padding-top: 37px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.textHeader {
  margin-top: 0;

  @media (max-width: 768px) {
    padding-top: 0;
  }
}

.background_top {
  position: absolute;
  top: -39px;
  width: 100%;
  height: 68px;
  background: linear-gradient(308deg, rgba(43, 10, 55, 0) 0%, rgba(43, 10, 55, 0.42) 30.73%, rgba(43, 10, 55, 0.58) 41.65%, rgba(43, 10, 55, 0.96) 68.4%, rgba(43, 10, 55, 0.96) 100%);
}


.background_bottom {
  position: absolute;
  bottom: -23px;
  width: 100%;
  height: 68px;
  background: linear-gradient(180deg, rgba(43, 10, 55, 0) 0%, rgba(43, 10, 55, 0.42) 30.73%, rgba(43, 10, 55, 0.58) 41.65%, rgba(43, 10, 55, 0.96) 68.4%, rgba(43, 10, 55, 0.96) 100%);
}

.background_top,
.background_bottom {
  @media (max-width: 768px) {
    display: none;
  }
}

.textHeader {
  margin-bottom: 80px;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
}

.imageContainer {
  max-width: 960px;
}

.nfts3 {
  width: 90%;
  display: block;
  margin: auto;

  @media (max-width: 1440px) {
    width: 100%;
  }

  @media (max-width: 768px) {
    display: none;

  }
}

.nfts4 {
  width: 100%;
  display: none;

  @media (max-width: 768px) {
    display: block;
    width: 82%;
    margin: auto;
  }

  @media (max-width: 425px) {
    width: 87%;
  }
}

.ellipse,
.ellipse_mobile {
  display: block;
  margin: 25px auto;

  @media (max-width: 768px) {
    display: none;

  }
}

.ellipse_mobile {
  display: none;

  @media (max-width: 768px) {
    display: block;
    margin: 7px auto;
    width: 60%;
  }
}