.root {
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.image {
  position: absolute;
  bottom: 0;
  left: 0;
  height: -webkit-fill-available;
}

.characterInfo {
  position: absolute;
  right: 0%;
  top: 20%;
}