.section {
  margin-top: 100px;
  background-size: cover;
  background: linear-gradient(to bottom, #2B0A37, transparent, #2B0A37);

  border-top: 100px solid transparent;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  @media (max-width: 768px) {
    margin-top: 0px;
  }
}


.content {
  display: flex;
  justify-content: center;
  margin-top: 14px;

  @media (max-width: 1113px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 768px) {
    margin-top: 0;
  }
}

.column {
  max-width: 532px;
  width: 100%;
  min-height: 643px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(33, 44, 79, 0.4);
  -webkit-box-shadow: 0px 0px 18px 6px rgb(113 31 80 / 26%);
  -moz-box-shadow: 0px 0px 18px 6px rgb(113 31 80 / 26%);
  box-shadow: 0px 0px 18px 6px rgb(113 31 80 / 26%);
  backdrop-filter: blur(40px);
  border-radius: 15px;

  @media (max-width: 768px) {
    min-height: 605px;
  }

  @media (max-width: 320px) {
    // padding-top: 24px;
    // padding-bottom: 24px;

  }

  // padding: 42px 120px 42px 120px;
}

.column:last-child {
  margin-left: 29px;

  @media (max-width: 1113px) {
    margin-left: 0;
    margin-top: 40px;
  }
}

.column:last-child {
  @media (max-width: 1024px) {
    margin-top: 40px;
  }



  @media (max-width: 320px) {
    min-height: 560px;
  }

  .imageTop {
    @media (max-width: 394px) {
      height: initial;
    }

  }
}




.imageTopContainer {

  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.imageTop {
  height: 245px;
  max-width: 100%;
  object-fit: contain;



}

// .imageTop:last-child {
//   @media (max-width: 768px) {
//     max-width: 300px;
//   }

//   @media (max-width: 390px) {
//     // height: initial !important;
//     display: none;
//   }
// }

.arrow {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.multiplier {
  font-family: 'Kamikaze';
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 39px;
  background: linear-gradient(180deg, #EA748F 0%, #FF418A 53.65%, #F237A5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;


  @media(max-width: 425px) {
    font-weight: 400;
    font-size: 40px;
    line-height: 33px;
  }
}

.nextLvl {
  font-family: 'Kamikaze';
  margin-right: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 15px;
  color: #fff;
  text-align: center;
  margin-left: 14px;

  @media(max-width: 425px) {
    font-size: 14px;
    line-height: 12px;
  }
}

.card {
  max-width: 172px;
  max-height: 255px;
}

.arrowText {
  display: flex;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 24px;
}

.arrowLeft {
  transform: scale(-1, 1);
}