.section {
  margin-top: 100px;
  background-image: url(/images/fusion_background.webp);
  background-size: cover;

  @media (max-width: 768px) {
    margin-top: 64px;
  }
}

.top{
  width: 100%;
  height: 100px;
  background: linear-gradient(#2B0A37, transparent 60px);
}

.bottom{
  width: 100%;
  height: 100px;
  background: linear-gradient(transparent 60px, #2B0A37);
}

.container {
  max-width: 1230px;
  
}

.content {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1113px) {
    flex-direction: column;
  }

  @media (max-width: 768px) {
    margin-top: 24px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column:last-child {
  @media (max-width: 1024px) {
    margin-top: 70px;
  }
}


.imageTopContainer {

  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.imageTop {
  height: 337px;


  @media (max-width: 768px) {
    object-fit: contain;
    max-width: 500px;
    width: 100%;
    height: 100%;
  }
}

.imageTop:last-child {
  @media (max-width: 768px) {
    max-width: 300px;
  }
}

.arrow {
  margin-bottom: 10px;
  margin-left: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;  
  
  @media (max-width: 1024px) {
    margin-left: 18%;
  }

  @media (max-width: 425px) {
    margin-left: 30%;
  }
}

.arrow2 {
  margin-bottom: 10px;
  margin-left: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;  

  @media (max-width: 1024px) {
    margin-left: 18%;
  }

  @media (max-width: 425px) {
    margin-left: 30%;
  }
}

.multiplier {
  font-family: 'Kamikaze-Regular';
  margin-right: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 39px;
  -webkit-text-fill-color: #E669A3;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1px;

  @media(max-width: 425px) {
    font-weight: 400;
    font-size: 32px;
    line-height: 27px;
  }
}

.nextLvl {
  font-family: 'Kamikaze-Regular';
  margin-right: 10px;
  font-weight: 400;
  font-size: 32px;
  line-height: 27px;
  color: #fff;
  text-align: center;

  @media(max-width: 425px) {
    font-size: 25px;
    line-height: 13px;
  }
}

.card {
  max-width: 172px;
  max-height: 255px;
}

.arrowText{
  width: 60%;
  display: flex;
}