.container {
  display: none;

  @media(max-width: 1024px) {
    display: flex;
  }
}

.menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 8px;
  right: 16px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 100;
}
.menu__box {
  position: fixed;
  visibility: hidden;
  left: 0;
  top: -100vh;
  width: 100%;
  height: 610px;
  margin: 0;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  z-index: -1;
  background-color: #32133E;
}

.menu__toggle:checked~.menu__box {
  visibility: visible;
  top: 0;
}

.menu__box {
  transition-duration: .50s;
}

.menu__item {
  transition-duration: .50s;
}

.menu__social{
  margin-top: 24px;
  width: 100%;
  padding: 32px;
  border-top: 1px solid rgba(242, 55, 165, 0.2);
}