.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
    max-width: 904px;
    width: 100%;
    max-height: 90vh;
    padding: 40px 48px 48px;
    margin: auto;
    background: #2D0D3B;
    border-radius: 8px;
    border: 3px solid #71B2CF;

    display: flex;
    flex-direction: column;

    .title {
        font-family: 'Bangers';
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        text-align: center;
        color: #FFFFFF;

    }

}