.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2D0D3B;
    border-radius: 8px;
    padding: 54px;
    max-width: 90%;
    border: 3px solid #71B2CF;
    width: fit-content;
    margin: auto;
    max-height: 90vh;
    overflow: scroll;

    display: flex;
    flex-direction: column;

    .title {
        font-family: 'Bangers';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        text-align: center;
        color: #FFFFFF;
    }

    &.disabled {
        filter: brightness(0.5) grayscale(0.5);
        cursor: not-allowed;
    }

    .cross {
        padding: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
        box-sizing: content-box;
        cursor: pointer;

        &:active {
            transform: scale(0.9)
        }
    }

}

.overlay {
    z-index: 2000;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    inset: 0px;
    overflow: scroll;


    @media screen and (max-height:1024px) {
        &::after {
            content: ' ';
            display: flex;
            height: calc(100% + min(27vw, 400px));
        }

    }
}

.bodyOpen {
    overflow: hidden;
}