.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 144px;
  padding-left: 172px;
  padding-right: 22px;

  @media (max-width: 1200px) {
    flex-direction: column;
    padding-left: 123px;
    padding-right: 123px;
    margin-top: 80px;
  }

  @media (max-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.title {
  font-family: 'Kamikaze';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin-bottom: 48px;

  @media (max-width: 1200px) {
    line-height: 35px;
  }

  @media (max-width: 633px) {
    margin-bottom: 24px;
    font-size: 22px;

  }

  @media (max-width: 346px) {
    font-size: 20px;
  }
}

.text {
  font-family: 'SF Pro Display';
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 64px;
  text-align: left;

  @media(max-width: 633px) {
    font-size: 18px;
    line-height: 21px;
  }

  @media (max-width: 346px) {
    font-size: 16px;
  }
}

.image {
  position: absolute;
  right: 0;
  max-width: 683px;
  width: 100%;
  height: auto;


  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media (max-width: 1200px) {
    position: initial;
    max-width: fit-content;
    width: fit-content;
    height: fit-content;
    margin-top: -100px;
  }

  @media (max-width: 375px) {
    margin-top: -120px;
  }
}

.paragraph {
  max-width: 529px;
  width: 100%;
  margin-bottom: 12px;
  margin-top: 0;
}


.desktop_btn,
.mobile_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(180deg, #EA748F 0%, #FF418A 53.65%, #F237A5 100%);
  border-radius: 8px;
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'SF Pro Display';
  color: #FFFFFF;
  max-width: 258px;
  height: 60px;
  border: none;
  margin-top: 64px;

  @media (max-width: 1200px) {
    display: none;
  }


}

.mobile_btn {
  display: none;

  @media (max-width: 1200px) {
    display: flex;
    width: inherit;
    margin-top: -40px;
    z-index: 1000;
  }

  @media (max-width: 375px) {
    margin-top: -80px;
  }
}