.section {
  display: flex;
  flex-wrap: wrap;
  background: url(/images/looper_group.webp) no-repeat;
  background-size: contain;
  @media (max-width: 768px) {
    margin-top: 64px;
    background-size: 170%; 
    background-position: center top;
    justify-content: flex-end;
  }
}

.text {
  flex: 2;
  text-align: center;
  margin: 0px auto;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  padding: 50px;
  padding-top: 300px;
  

  @media (max-width: 768px) {
    font-size: 32px;
    padding: 20px;
    padding-bottom: 0;
  }

  @media(max-width: 425px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.title {
  font-family: 'AA BadaBoom BB';
  font-style: normal;
  font-weight: normal;
  font-size: 69px;
  line-height: 73px;
  color: #FFFFFF;
}

.rules_enchantress{
  flex: 1;

  @media (max-width: 768px) {
    width: 468.26px;
    height: 587.34px;
  }
}