.text {
  max-width: 895px;
  text-align: center;
  margin: 100px auto;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;

  @media (max-width: 768px) {
    font-size: 32px;
  }

  @media (max-width: 425px) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 45px;
  }
}

.title {
  font-family: 'Kamikaze-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 54px;
  color: #FFFFFF;

  @media (max-width: 768px) {
    font-size: 42px;
  }

  @media (max-width: 425px) {
    font-size: 32px;
    line-height: 34px;
  }
}