.text {
  max-width: 993px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100vh;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  padding-top: 129px;
  margin-bottom: 65px;


  @media (max-width: 768px) {
    font-size: 32px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (max-width: 425px) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 45px;
  }
}

.title {
  font-family: 'Kamikaze';
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 54px;
  color: #FFFFFF;

  @media (max-width: 768px) {
    font-size: 42px;
  }

  @media (max-width: 425px) {
    font-size: 32px;
    line-height: 34px;
  }
}