.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 162px;

  @media (max-width: 1300px) {
    padding-right: 40px;
  }

  @media (max-width: 1178px) {
    flex-direction: column-reverse;
  }

  @media (max-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.image {
  max-width: 924px;
  width: 100%;
  height: auto;
  position: absolute;
  left: -140px;
  top: -40px;

  @media (max-width: 1178px) {
    margin-top: -100px;
    position: relative;
    left: -11%;
    width: 120vw;
  }

  @media (max-width: 540px) {
    margin-top: -63px;
  }

  @media (max-width: 375px) {
    margin-top: -73px;
  }

  @media (max-width: 320px) {
    margin-top: -67px;
  }


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @media (max-width: 1178px) {
      object-fit: none;
    }

    @media (max-width: 768px) {
      object-fit: cover;
    }
  }
}

.text {
  max-width: 544px;
  width: 100%;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 105px;

  p {
    margin-top: 32px;

    @media (max-width: 768px) {
      margin-top: 16px;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
    }
  }

  @media (max-width: 768px) {
    margin-top: 30px;
  }

  @media (max-width: 425px) {
    margin-bottom: 45px;
  }
}

.title {
  font-family: 'Kamikaze';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 49px;
  color: #FFFFFF;
  margin-bottom: 48px;

  @media (max-width: 768px) {
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}