.slotContent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
}

.cashSlot {
  width: 335px;
  height: 240px;

  img {
    flex: 1 1 auto;
    width: 70%;
    object-fit: contain;
  }

  .resourceImage {
    width: 50%;
  }
}

.slotText {
  padding-bottom: 20px;

  font-family: 'Bangers';
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
}

.button {
  margin-top: 140px;
}

.resourceSlot {
  cursor: auto;
}
