.text {
  max-width: 895px;
  text-align: center;
  margin: 100px auto;
  font-weight: bold;
  font-size: 39px;
  line-height: 47px;
  color: #FFFFFF;
}

.title{
  font-family: 'AA BadaBoom BB';
  font-style: normal;
  font-weight: normal;
  font-size: 69px;
  line-height: 73px;
  color: #FFFFFF;
}