.container {
    font-family: 'Bangers';
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    margin: 40px 40px 0;
    position: sticky;
    top: 0;
    z-index: 1000;

    @media (max-width: 1100px) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.profile_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 12px;
    margin-right: 20px;

    span {
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        line-height: 19px;
        text-align: left;
        color: #FFFFFF;
        margin-top: 4px;
        padding-left: 15px;
    }

    .user {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 26px;
        color: #FFBAD0;
    }
}




.cards {
    display: flex;
    justify-content: center;
}

.res {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 50px;

    @media (max-width: 1100px) {
        margin-right: 30px;
    }
}

.res:last-child {
    margin-right: 0;
}

.cardPriceIcon {
    width: 70px;
    height: 70px;

}

.info {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}