.section {
  margin-top: 80px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.wrap {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.textHeader {
  margin-bottom: 140px;

  @media (max-width: 768px) {
    margin-bottom: 52px;
  }
}

.columns_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin: 0 100px;

  @media (max-width: 1024px) {
    margin: 0 10px;
  }
}

.row {
  display: flex;
  align-items: flex-start;
  width: 100%;
  position: relative;
  padding-left: 63px;

  @media (max-width: 768px) {
    margin-top: 10px;
    padding-left: 37px;
  }
}

.item_left {
  display: flex;
  position: relative;

  @media (max-width: 768px) {
    display: block;
    padding-bottom: 0;
  }
}

.item_right {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  position: relative;

  @media (max-width: 768px) {
    padding-bottom: 0;
    display: block;
  }
}

.before {
  content: '';
  position: absolute;
  top: -40px;
  left: -63px;
  width: 8px;
  height: calc(100% + 60px);
  border-radius: 8px;
  z-index: 0;
  background: #6ccaf3;

  @media (max-width: 768px) {
    width: 4px;
    left: -37px;
  }
}

.after {
  content: '';
  position: absolute;
  top: 48px;
  left: -63px;
  width: 8px;
  height: calc(100% - 58px);
  border-radius: 8px;
  z-index: 1;
  background: linear-gradient(
    90deg,
    #1b1523 0%,
    #592c63 24.48%,
    #3b2643 51.04%,
    #45265e 75.52%
  );

  @media (max-width: 768px) {
    width: 4px;
    left: -37px;
    top: 28px;
    height: calc(100% - 22px);
  }
}

.gradient {
  content: '';
  position: absolute;
  top: 0;
  left: -63px;
  width: 8px;
  height: calc(100% + 152px);
  border-radius: 8px;
  z-index: 0;

  background: linear-gradient(
    180deg,
    rgba(108, 202, 243, 1) 0%,
    rgba(69, 38, 94, 1) 30%
  );

  @media (max-width: 768px) {
    width: 4px;
    left: -37px;
  }
}

.number {
  min-width: 400px;
  margin-bottom: 100px;
  font-family: 'Kamikaze';
  font-weight: 400;
  font-size: 64px;
  line-height: 52px;
  text-align: start;
  background: linear-gradient(
    180deg,
    #6ccaf3 0%,
    #2e92bf 50.52%,
    rgba(29, 115, 153, 0.61) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: 768px) {
    min-width: 0;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 32px;
  }
}

.text_block {
  width: 50%;
  text-align: left;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 57px;
  @media (max-width: 768px) {
    font-size: 28px;
    line-height: 33px;
  }
}

.description {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  margin-top: 42px;
  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 10px;
  }
}

.description_secret {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  margin-top: 42px;
  filter: blur(10px);

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 10px;
  }
}

.image_block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 50%;
  position: relative;
  @media (max-width: 768px) {
    width: 100%;
    height: 40vh;
  }
  @media (max-width: 320px) {
    height: 35vh;
  }

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 553px;
    width: 553px;
    object-fit: contain;
  }
}

.circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
  background: linear-gradient(180deg, #6ccaf3 0%, #2e92bf 50.52%, #00415e 100%);
  position: absolute;
  left: -15px;
  top: 0;

  @media (max-width: 768px) {
    width: 18px;
    height: 18px;
    left: -7px;
  }
}

.ring {
  width: 38px;
  height: 38px;
  background: linear-gradient(#2d0d3b, #2d0d3b) padding-box,
    linear-gradient(180deg, #6ccaf3 0%, #2e92bf 50.52%, #00415e 100%) border-box;
  border-radius: 50%;
  border: 6px solid transparent;
  z-index: 1;
  position: absolute;
  left: -15px;
  top: 0;

  @media (max-width: 768px) {
    width: 18px;
    height: 18px;
    left: -7px;
    top: 4px;
    border: 3px solid transparent;
  }
}

.first_shadow {
  position: absolute;
  width: 534px;
  height: 535px;
  left: -200px;
  top: 100px;
  background: radial-gradient(
    circle,
    rgba(31, 195, 231, 0.8438) 0%,
    rgba(31, 52, 231, 1) 100%
  );
  opacity: 0.2;
  filter: blur(200px);
  border-radius: 200px;

  @media (max-width: 768px) {
    display: none;
  }
}

.second_shadow {
  position: absolute;
  width: 268.78px;
  height: 365.33px;
  right: -50px;
  bottom: 150px;
  background: radial-gradient(
    circle,
    rgba(81, 30, 80, 1) 0%,
    rgba(81, 30, 80, 0.65) 100%
  );
  opacity: 0.8;
  filter: blur(100px);
  border-radius: 150px;

  @media (max-width: 768px) {
    display: none;
  }
}

.row-0 .circle,
.row-1 .circle,
.row-2 .ring {
  top: 160px;
}

.row-0 {
  .item_left,
  .item_right {
    padding-bottom: 165px;
  }

  .image_block {
    top: 100px;
    left: 40px;
  }
}

.row-1 {
  .item_left,
  .item_right {
    padding-bottom: 110px;
  }

  .number {
    position: relative;
    left: -100%;
  }

  .image_block {
    top: 20px;
    left: -44px;
  }
}

.row-2 {
  .item_left,
  .item_right {
    padding-bottom: 148px;
  }

  .after {
    top: 204px;
    height: calc(100% - 213px);
  }

  .image_block {
    top: 30px;
    left: 52px;
  }
}

.row-3 {
  .item_left,
  .item_right {
    padding-bottom: 213px;
  }

  .image_block {
    top: -66px;
    right: 24px;
  }
}

.row-4 {
  .item_left,
  .item_right {
    padding-bottom: 158px;
  }
  .image_block {
    left: 52px;
  }
}

.row-5 {
  .item_left,
  .item_right {
    padding-bottom: 120px;
  }

  .image_block {
    left: -30px;
  }
}

.row-6 {
  .item_left,
  .item_right {
    padding-bottom: 106px;
  }
}

.row-7 {
  .item_left,
  .item_right {
    padding-bottom: 106px;
  }
}

.row-8 {
  .item_left,
  .item_right {
    padding-bottom: 182px;
  }

  .image_block {
    top: -314px;
    left: 20%;

    @media (max-width: 1200px) {
      left: 10%;
    }

    @media (max-width: 1024px) {
      left: 0;
    }
  }

  img {
    width: 480px;
    height: 713px;

    @media (max-width: 1024px) {
      width: 370px;
      height: auto;
    }
  }
}

.row-9 {
  .item_left,
  .item_right {
    padding-bottom: 215px;
  }

  .image_block {
    left: -60px;
  }

  .after {
    height: calc(100% + 96px);
  }

  @media (max-width: 1024px) {
    img {
      width: 470px;
      height: auto;
    }
  }
}

.row-10 {
  .item_left,
  .item_right {
    padding-bottom: 223px;
  }

  .ring {
    top: 156px;
  }

  .after {
    top: 204px;
    height: calc(100% - 214px);
  }

  .image_block {
    left: 60px;
    @media (max-width: 1024px) {
      left: 20px;
    }
  }

  @media (max-width: 1024px) {
    img {
      width: 470px;
      height: auto;
    }
  }
}

.row-11 {
  .item_left,
  .item_right {
    padding-bottom: 132px;
  }

  .image_block {
    left: -50px;
  }

  @media (max-width: 1024px) {
    img {
      width: 470px;
      height: auto;
    }
  }
}

.row-12 {
  .item_left,
  .item_right {
    padding-bottom: 117px;
  }

  .image_block {
    left: 60px;
  }

  @media (max-width: 1024px) {
    .image_block {
      left: 20px;
    }

    img {
      width: 470px;
      height: auto;
    }
  }

  .after {
    height: calc(100% + 139px);
  }
}

.row-13 {
  .item_left,
  .item_right {
    padding-bottom: 104px;
  }

  .ring {
    top: 196px;
  }

  .text_block {
    position: relative;
    z-index: 1;
  }

  .number {
    position: relative;
    left: -100%;
    margin-bottom: 155px;
  }

  .image_block {
    top: 60px;
    left: -60px;
  }

  img {
    width: 700px;
    height: auto;
  }

  .after {
    top: 240px;
    height: calc(100% - 249px);
  }

  @media (max-width: 1024px) {
    .image_block {
      left: -20px;
    }

    img {
      width: 600px;
    }
  }
}

.row-14 {
  .image_block {
    left: 60px;
  }

  @media (max-width: 1024px) {
    .image_block {
      left: 20px;
    }

    img {
      width: 470px;
      height: auto;
    }
  }
}

.row {
  @media (max-width: 768px) {
    .circle {
      top: 63px;
    }

    .text_block {
      margin-bottom: 50px;
    }

    .number {
      position: static;
      margin-bottom: 24px;
    }
    .image_block {
      top: 0;
      left: 0;

      img {
        width: 150%;
        max-width: 430px;
        height: auto;
      }
    }

    .item_left,
    .item_right {
      padding-bottom: 50px;
    }

    &.row-1 {
      .gradient {
        height: calc(100% + 66px);
      }
    }

    &.row-2 {
      .ring {
        top: 64px;
      }

      .after {
        top: 89px;
        height: calc(100% - 84px);
      }
    }

    &.row-6,
    &.row-7 {
      .item_left,
      .item_right {
        padding-bottom: 0;
      }
    }

    &.row-8 {
      .image_block {
        height: 60vh;
      }

      img {
        max-width: 240px;
        width: 100%;
      }
    }

    &.row-9 {
      .after {
        height: calc(100% + 36px);
      }
    }

    &.row-10 {
      .ring {
        top: 62px;
      }

      .after {
        top: 87px;
        height: calc(100% - 82px);
      }
    }

    &.row-12 {
      .after {
        height: calc(100% + 40px);
      }
    }

    &.row-13 {
      .ring {
        top: 65px;
      }

      .after {
        top: 88px;
        height: calc(100% - 83px);
      }
    }

    &.row-9,
    &.row-10,
    &.row-11,
    &.row-12,
    &.row-14 {
      img {
        max-width: 380px;
        width: 130%;
        max-height: 370px;
      }
    }
  }
}
