.section {
  margin-top: 80px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.wrap {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.textHeader {
  margin-bottom: 36px;

  @media (max-width: 768px) {
    .textHeader {
      margin-bottom: 36px;
    }
  }
}

.columns_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 6%;

  @media (max-width: 768px) {
    width: 375px;
  }

  @media (max-width: 375px) {
    width: 100%;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0px;
    // left: calc(50% - 2px);
    left: 0;
    width: 4px;
    height: 110%;
    background: linear-gradient(180deg, #6CCAF3 0%, #2E92BF 76.56%, rgba(0, 65, 94, 0) 100%);
    border-radius: 8px;
    z-index: 0;

    @media (max-width: 768px) {
      width: 2px;
    }
  }
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 64px;
  position: relative;
  padding-left: 43px;

  @media (max-width: 768px) {
    margin-top: 10px;
  }
}

.item_left {
  display: flex;
  align-items: center;
  position: relative;



  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: calc(40px - 2px);
  //   right: 0;
  //   width: 100%;
  //   height: 4px;
  //   border-radius: 8px;
  //   z-index: 0;
  //   background: linear-gradient(-90deg, #6CCAF3 0%, #2E92BF 50.52%, rgba(0, 65, 94, 0) 100%);

  //   @media (max-width: 768px) {
  //     height: 2px;
  //     top: calc(40px - 1px);
  //   }
  // }
}

.item_right {
  display: flex;
  align-items: center;
  position: relative;

  @media (max-width: 768px) {
    padding-left: 20px;
  }

  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: calc(40px - 2px);
  //   left: 0;
  //   width: 100%;
  //   height: 4px;
  //   border-radius: 8px;
  //   z-index: 0;
  //   background: linear-gradient(90deg, #6CCAF3 0%, #2E92BF 50.52%, rgba(0, 65, 94, 0) 100%);

  //   @media (max-width: 768px) {
  //     height: 2px;
  //     top: calc(40px - 1px);
  //   }
  // }
}

.number {
  font-family: 'Kamikaze';
  max-width: 196px;
  font-weight: 400;
  font-size: 52px;
  line-height: 32px;
  text-align: start;
  background: linear-gradient(180deg, #6CCAF3 0%, #2E92BF 50.52%, rgba(29, 115, 153, 0.61) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 32px;
  }
}

.text_block {
  max-width: 50%;
  text-align: left;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 57px;
  margin-top: 42px;
}

.description {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  margin-top: 42px;
}

.image_block {
  max-width: 50%;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
  background: linear-gradient(180deg, #6CCAF3 0%, #2E92BF 50.52%, #00415E 100%);
  position: absolute;
  // left: calc(50% - 10px);
  left: calc(0% - 8px);
  top: calc(40px - 10px);


  @media (max-width: 768px) {
    width: 10px;
    height: 10px;
    left: calc(50% - 5px);
    top: calc(40px - 5px);
  }


}


.first_shadow {
  position: absolute;
  width: 534px;
  height: 535px;
  left: -200px;
  top: 100px;
  background: radial-gradient(circle, rgba(31, 195, 231, 0.8438) 0%, rgba(31, 52, 231, 1) 100%);
  opacity: 0.2;
  filter: blur(200px);
  border-radius: 200px;

  @media (max-width: 768px) {
    display: none;
  }
}

.second_shadow {
  position: absolute;
  width: 268.78px;
  height: 365.33px;
  right: -50px;
  bottom: 150px;
  background: radial-gradient(circle, rgba(81, 30, 80, 1) 0%, rgba(81, 30, 80, 0.65) 100%);
  opacity: 0.8;
  filter: blur(100px);
  border-radius: 150px;

  @media (max-width: 768px) {
    display: none;
  }
}