.container {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        flex-direction: row;

        .side {
            flex: 1;
            display: flex;
            flex-direction: row;

            .filter {
                margin-top: 10px;
                margin-right: auto;
                align-self: flex-start
            }

            .close {
                margin-left: auto;
                align-self: flex-start;
                cursor: pointer;
            }
        }

        .center {
            margin-top: 56px;
            display: flex;
            align-self: flex-end;
            flex-direction: column;
            align-items: center;

            h1 {
                font-family: 'Bangers';
                font-size: 27px;
                text-align: center;
                color: #FFFFFF;
                margin: 0;
                text-transform: capitalize;
            }

            h2 {
                font-family: 'Bangers';
                font-size: 18px;
                text-align: center;
                margin: 12px 0 0;
                color: #FFFFFF;
                text-transform: capitalize;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 36px 0;

        .side {
            align-self: center;
            margin: 0 20px;
            cursor: pointer;

            &.rotate {
                transform: rotateY(180deg);
            }

            &.hide {
                visibility: hidden;
                cursor: unset;
            }

            &.disabled {
                filter: brightness(0.5) grayscale(0.5);
            }
        }

        .cards {
            flex: 1;
            display: grid;
            gap: 42px 24px;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .card {
                border-radius: 12px;
                border: 6px solid #6AA3C6;
                background: linear-gradient(180deg, #6CCAF3 0%, #2E92BF 50.52%, #2D0D3B 100%);
                margin: 5px;
                cursor: pointer;

                &.blocked {
                    cursor: not-allowed;
                    filter: brightness(0.5) grayscale(0.5);
                }
            }
        }

        .banknotes {
            flex: 1;
            display: grid;
            gap: 51px 17px;
            grid-template-columns: 1fr 1fr 1fr;

            .banknote {
                cursor: pointer;
            }
        }
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;

        .buy {
            margin: 10px auto;
        }
    }
}

.filter {
    position: relative;

    .dropdown {

        position: absolute;
        left: 0;
        top: calc(100% + 16px);
        display: none;
        opacity: 0;
        min-width: 182px;
        transition: opacity 0.3s ease-in-out;

        background: #111622;
        border-radius: 8px;
        border: 3px solid #5092AD;
        padding: 18px 32px;

        &.open {
            display: flex;
            opacity: 1;
        }


    }
}

.templates {
    flex-direction: column;
    gap: 17px;

    .template {
        display: flex;
        font-family: 'Bangers';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;

        .checkbox {
            width: 16px;
            height: 16px;
            border-radius: 4px;
            border: 1px solid #81C8DE;
            padding: 2px;
            margin-right: 16px;
            display: flex;
            justify-content: center;
            align-items: center;

            &.checked::before {
                content: ' ';
                display: flex;
                background: #81C8DE;
                border-radius: 2px;
                width: 8px;
                height: 8px;
            }


        }
    }
}