.section {
  position: relative;
  margin-bottom: 80px;
  padding-top: 150px;
  padding-bottom: 150px;

  background: linear-gradient(to bottom, #2B0A37, transparent, #2B0A37),
    url('/images/wayfu_bg_peace.png') repeat;


  @media(max-width: 768px) {
    padding-top: 120px;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }

  @media(max-width: 425px) {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

.textHeader {
  margin-bottom: 80px;

  @media(max-width: 768px) {
    margin-bottom: 42px;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;

  @media(max-width: 768px) {
    flex-direction: column;

  }

}

.card {
  max-width: 240px;
  max-height: 355px;
  margin-left: 10px;
  margin-right: 10px;

  @media(max-width: 768px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media (max-width: 425px) {
    max-width: 140px !important;
    height: 200px !important;
  }
}

.arrow {
  width: 90px;
  height: 36px;

  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
  }
}


.arrow {
  text-align: center;

  @media(max-width: 768px) {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
}

.mimi_card{
  width: 244px;
  height: 362px;
}