.unloader {
  display: flex;
  background: #2D0D3B;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  text-align: center;
  color: #FFFFFF;
}