.unloader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  text-align: center;
  color: #ffffff;
}

.animate {
  transform: scale(0.6);
  opacity: 0;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

.animate.loaded {
  opacity: 1;
  transform: scale(1);
}
