.title {
  margin-bottom: 36px;
}

.screenContent {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.toggle {
  margin-bottom: 120px;
}

.slots {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 34px;
  width: 100%;
}

.slot {
  max-width: 100%;
  width: 100%;
  height: 240px;
  cursor: pointer;
}

.slotEmptyTitle {
  margin-top: 50px !important;
  margin-bottom: 37px !important;
}

.arrow {
  width: 70px;
  height: 85px;
  margin-top: 73px;
  transform: rotate(-90deg);
}
