.title {
  margin-bottom: 36px;
}

.screenContent {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.toggle {
  margin-bottom: 120px;
}

.slot {
  max-width: 335px;
  width: 100%;
  height: 240px;
  cursor: pointer;
}

.slotImage {
  width: 60%;
  height: 80%;
  box-shadow: none !important;
  border: none;
}

.slotEmptyTitle {
  margin-top: 50px !important;
  margin-bottom: 37px !important;
}
