.section  {
  margin-top: 162px;
}

.container {
  max-width: 1230px;
}

.content {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageTop {
  height: 307px;
}

.arrow {
  margin-bottom: 50px;
  margin-left: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  span {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
}

.multiplier {
  font-family: 'AA BadaBoom BB';
  margin-right: 10px;
  font-size: 32px;
  -webkit-text-fill-color: #479EC5;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px; 
}

.nextLvl {
  font-family: 'AA BadaBoom BB';
  margin-right: 10px;
  font-size: 32px;
  -webkit-text-fill-color: #D5436F;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px; 
}

.card {
  max-width: 172px;
  max-height: 255px;
}