.section  {
  margin-top: 162px;
}

.container {
  max-width: 1230px;
}

.row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 150px;
}

.leftSide {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: 6%;
}

.rightSide {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;

  margin-left: -170px;

  .card {
    transform: translate(0, 0) !important;
  }
}

.card {
  max-width: 200px;
  min-width: 200px;
  width: 100%;
}


.card:nth-child(2) {
  z-index: 1;
  transform: translate(-97px, 0);
  -webkit-transform: translate(-97px, 0);
  -moz-transform: translate(-97px, 0);
  -ms-transform: translate(-97px, 0);
  -o-transform: translate(-97px, 0);
}

.card:nth-child(3) {
  z-index: 2;
  transform: translate(-170px, 0);
  -webkit-transform: translate(-170px, 0);
  -moz-transform: translate(-170px, 0);
  -ms-transform: translate(-170px, 0);
  -o-transform: translate(-170px, 0);
}

.arrow {
  max-width: 165px;
  min-width: 165px;
  height: 82px;
  margin-right: auto;

  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
}