.slotContainer {
  max-width: 335px;
  width: 100%;
}

.slotContainerBanknote {
  max-width: 417px;
  width: 100%;

  .slot {
    max-width: 417px;
    width: 100%;
  }
}

.slotImage {
  width: 60%;
  height: 80%;
  object-fit: contain;
  box-shadow: none !important;
  border: none;
}

.resourceModal {
  min-height: 0;
  padding-bottom: 90px;
}

.resources {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 26px;
  margin-top: 55px;
}

.resource {
  width: 135px;
  cursor: pointer;
}

.resourceImage {
  width: 100%;
}

.resourceName {
  text-align: center;
  font-size: 28px;
  font-family: 'Bangers';
  color: #ffffff;
}

.banknoteValues {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-top: 24px;
}

.banknoteValueButton {
  max-width: 77px !important;
}

.button {
  margin-top: 140px;
}

.slotBanknote {
  width: 70%;
  height: 125px;
  object-fit: contain;
  box-shadow: none !important;
  border: none;
}
