.container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 150px auto 0 auto;

  @media (max-width: 1024px) {
    flex-direction: column;
    justify-content: center;
  }
}

.contact_text {
  max-width: 398px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: left;
}

.left {
  padding-top: 15px;




  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: left;
    margin-left: 20px;
    margin-top: 32px;

    @media (max-width: 1024px) {
      margin-left: 0;
    }
  }

}