.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &>* {
        margin: 24px
    }
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: 0 0 24px;

    .side {
        flex: 1
    }

    .title {
        margin: 0;
        font-family: 'Bangers';
        font-style: normal;
        font-weight: 400;
        font-size: 54px;

        text-align: center;
        background: linear-gradient(180deg, #EA748F 0%, #FF418A 53.65%, #F237A5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 2px;
    }

}

.slot {
    width: 234px;
    height: 352px;
    max-width: 234px;
    max-height: 352px;
    cursor: pointer;



    .content {
        padding: 12px 13px;
    }


    &.prime_slot {
        border: 6px solid #D36696;
        height: 414px;
        width: 276px;
        max-height: 414px;
        max-width: 276px;
        padding: 16px;

        .content {
            padding: 12px 13px;
        }

    }


}

.modes {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}