.footer {
  position: sticky;
  bottom: 10px;
  z-index: 1000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  min-height: 88px;
  max-width: 1011px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Bangers';

  .nav_list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 12px 84px;
    width: 100%;
    padding: 12px 50px;
    background: url('/footer_bg.svg') center no-repeat;
    background-size: 100%;
    backdrop-filter: blur(10px);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;

    @media (max-width: 768px) {
      gap: 12px 24px;
    }
  }
}

.link {
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;
  color: #ffffff;
  text-align: center;

  &.active {
    background: linear-gradient(
      180deg,
      #6ccaf3 0%,
      #2e92bf 50.52%,
      #00415e 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &.disabled {
    color: #b3b3b3;
  }
}
