.container {
  color: #479ec5;
}

.navList {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  list-style: none;
  margin-left: -10px;

  @media (max-width: 1024px) {
    display: block;
    width: 100%;
    padding-top: 72px;
    margin: 0;
    text-align: center;
  }
}

.navItem {
  margin-right: 30px;
  color: #f237a5;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: block;
  padding: 10px;
  cursor: pointer;
  text-shadow: -0 -1.2px 0 #ffffff, 0 -1.2px 0 #ffffff, -0 1.2px 0 #ffffff,
    0 1.2px 0 #ffffff, -1.2px -0 0 #ffffff, 1.2px -0 0 #ffffff,
    -1.2px 0 0 #ffffff, 1.2px 0 0 #ffffff, -1px -1.2px 0 #ffffff,
    1px -1.2px 0 #ffffff, -1px 1.2px 0 #ffffff, 1px 1.2px 0 #ffffff,
    -1.2px -1px 0 #ffffff, 1.2px -1px 0 #ffffff, -1.2px 1px 0 #ffffff,
    1.2px 1px 0 #ffffff, -1.2px -1.2px 0 #ffffff, 1.2px -1.2px 0 #ffffff,
    -1.2px 1.2px 0 #ffffff, 1.2px 1.2px 0 #ffffff, -1.2px -1.2px 0 #ffffff,
    1.2px -1.2px 0 #ffffff, -1.2px 1.2px 0 #ffffff, 1.2px 1.2px 0 #ffffff;

  @media (max-width: 1200px) {
    margin-right: 0px;
  }

  @media (max-width: 1024px) {
    padding-top: 24px;
    padding-bottom: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
  }
}

.navItem_active {
  color: #2e92bf;
}

.navLink {
  display: block;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}
