.container {
  width: 100%;
  color: #479EC5;
}

.navList {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  list-style: none;
  margin-left: -10px;
}

.navItem {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.navLink {
  display: block;
  padding: 10px;
  font-size: 18px;
}