.container {
  color: #479EC5;

  @media(max-width: 1024px) {
    display: none;
  }
}

.navList {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  
  list-style: none;
  margin-left: -10px;
}

.navItem {
  margin-right: 30px;
  color: #F237A5;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: block;
  padding: 10px;
  cursor: pointer;
  text-shadow: -0 -1.2px 0 #FFFFFF,
    0 -1.2px 0 #FFFFFF,
    -0 1.2px 0 #FFFFFF,
    0 1.2px 0 #FFFFFF,
    -1.2px -0 0 #FFFFFF,
    1.2px -0 0 #FFFFFF,
    -1.2px 0 0 #FFFFFF,
    1.2px 0 0 #FFFFFF,
    -1px -1.2px 0 #FFFFFF,
    1px -1.2px 0 #FFFFFF,
    -1px 1.2px 0 #FFFFFF,
    1px 1.2px 0 #FFFFFF,
    -1.2px -1px 0 #FFFFFF,
    1.2px -1px 0 #FFFFFF,
    -1.2px 1px 0 #FFFFFF,
    1.2px 1px 0 #FFFFFF,
    -1.2px -1.2px 0 #FFFFFF,
    1.2px -1.2px 0 #FFFFFF,
    -1.2px 1.2px 0 #FFFFFF,
    1.2px 1.2px 0 #FFFFFF,
    -1.2px -1.2px 0 #FFFFFF,
    1.2px -1.2px 0 #FFFFFF,
    -1.2px 1.2px 0 #FFFFFF,
    1.2px 1.2px 0 #FFFFFF;

  @media(max-width: 1200px) {
    margin-right: 0px;
  }
}

.navLink {
  display: block;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}