.list {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;

  @media(max-width: 1048px) {
    margin-left: -10px;
  }

  li {
    width: 24px;
    height: 24px;
    margin-right: 12px;

    @media(max-width: 1024px) {
      height: 32px;
      width: 32px;
      margin-right: 32px;
    }
  }
  li:last-child {
    margin-right: 0px;    
  }
}

.item {
  display: block;
  width: 24px;
  height: 24px;

  svg {
    height: 100%;
    width: 100%;
  }
}

.icon {
  height: 24px;
  width: 24px;
  @media(max-width: 1048px) {
    height: 32px;
    width: 32px;
  }
}