.wrap {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.textHeader {
  margin-top: 100px;
}

.columns_wrapper {
  max-width: 700px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  margin-top: 94px;
  margin-right: auto;
  margin-left: auto;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 44%;
    right: 44%;
    width: 4px;
    min-height: 100%;
    background: #FFFFFF;
    border-radius: 8px;
  }
}

.row {
  display: flex;
  align-items: center;
}

.number {
  max-width: 94px;
  font-weight: bold;
  font-size: 38px;
  line-height: 37px;
  text-align: right;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 56px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.text {
  text-align: left;
  margin-top: 138px;
  margin-left: 56px;

  ul {
    padding-left: 0;
  }
}