.wrap {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.textHeader {
  margin-top: 100px;

  @media(max-width:768px) {
    margin-top: 60px;
  }
}

.columns_wrapper {
  max-width: 700px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  margin-top: 94px;
  margin-right: auto;
  margin-left: auto;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    width: 4px;
    min-height: 100%;
    background: #FFFFFF;
    border-radius: 8px;
    z-index: 0;

    @media (max-width: 425px) {
      left: 32%
    }
  }
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 119px;
  justify-content: space-around;
}

.number {
  max-width: 94px;
  font-weight: bold;
  font-size: 38px;
  line-height: 37px;
  text-align: right;
  margin-left: 103px;

  @media (max-width: 425px) {
    font-size: 16px;
    line-height: 16px;
    margin-left: 20px;
  }
}

.circle {
  position: absolute;
  left: 48.6%;
  right: 48.6%;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;

  @media (max-width: 425px) {
    width: 16px;
    height: 16px;
    left: 30.6%;
  }
}

.text {
  max-width: 209px;
  width: 100%;
  text-align: left;
  margin-top: 75px;
  margin-left: 98px;

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: disc;
  }

  @media (max-width: 425px) {
    font-size: 14px;
    line-height: 17px;
  }
}